.form_style {

	font-size: 25px;
	border : 1px solid black;
	padding: 20px;
	margin: 130px auto;
	width: 400px;
}

input {
	height: 15px;
	width: 150px;
}

.button {
	height: 30px;
	width: auto;
	cursor: pointer;
}

#login {
	display: block;
}

#sign_up {
	display: none;
}

#sign_up_link {
	cursor: pointer;
}

#login_link {
	cursor: pointer;
}